@{
    Layout = null;
}
@model  SunShineStore.WxCommonEntity.WxUserEntity

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WxLogin</title>
</head>
<body>
    <div>
        尊敬的：@Model.nickname,您好：@Model.openid
    </div>
</body>
</html>
