@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>迷途登录</title>
    <link href="~/Content/Css/Login/supersized.css" rel="stylesheet" />
    <link href="~/Content/Css/Login/LoginStyle.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Loginjs/supersized.3.2.7.min.js"></script>
    <script src="~/Scripts/Loginjs/supersized-init.js"></script>
    <script src="/Scripts/angular/angular.min.js"></script>

    <script> 
        var app = angular.module("wapLogin", []);
        app.controller("wapform", function ($scope) {
            $scope.reset = function () {
                if ($scope.user.username == undefined || $scope.user.username == "") {
                    alert("请输入用户名");
                    return;
                }

                if ($scope.user.username == undefined || $scope.user.username == "") {
                    alert("请输入密码");
                    return;
                }

                var user = {
                    username: "测试",
                    password: "123456"
                }

                $http.post("", JSON.stringify(user), { contentType: "application/json" }).when();
               
            };
        });

    </script>

</head>
<body>
    <div class="page-container">
        <div style="margin-bottom: 50px; width: 305px; margin: 0 auto;">
            <img src="~/Content/Images/Login/logo.png" style="width: 30%;" />
        </div>
        <div class="form" ng-app="wapLogin" ng-controller="wapform">
            <input type="text" name="username" ng-model="user.username" class="username" placeholder="手机号/邮箱">
            <input type="password" name="password" ng-model="user.password" class="password" placeholder="密码">
            <button ng-click="reset()" type="button">登&nbsp;录</button>
            <div class="error"><span>+</span></div>
        </div>
        <div class="connect">
            <p class="tiplogin">其它登录</p>
            <p>
                <img src="/Content/images/login/qq.png" class="facebook" />
                <img src="/Content/images/login/weibo.png" class="facebook" />
                <img src="/Content/images/login/weixin.png" class="facebook" />
            </p>
        </div>
    </div>
</body>
</html>
