<div class="menu">
	<ul class="con hiden">
    	<li class="menu-this"><a href="index.html" class="menu-1">首页</a></li>
        <li><a href="" class="menu-2">地图导航</a></li>
        <li><a href="" class="menu-3">信息咨询</a></li>
        <li><a href="" class="menu-4">电话咨询</a></li>
        <li><a href="" class="menu-5">会员中心</a></li>
    </ul>
</div>