<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/Content/Images/WAP/HomeIndex_LB/20.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="/Content/Images/WAP/HomeIndex_LB/21.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="/Content/Images/WAP/HomeIndex_LB/22.jpg" />
        </div>
    </div>
</div>
